.page {
	position: relative;
	overflow: hidden;
	height: 100vh;
}

.page__background {
	width: 100%;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

@media (max-width: 1440px) {
	.page__background {   
		height: 100%;
		width: auto;
	}
}
