.xp-calc__body {
	background-color: var(--color-background-body);
	height: calc(var(--calc-height) - var(--calc-header-height) - var(--slice));
	margin-left: var(--slice);
	margin-right: var(--slice);
	padding: 0 var(--calc-left-padding);
}
